paper-dialog(heading='Fulfillment API Config',transition='paper-dialog-transition-bottom',id='fulfillmentApiConfigDialog')
    div(class='row')
        div(class='col-sm-12')
            paper-input(label='Event ID',floatingLabel,value='9040429',id='fulfillmenteventid')
    div(class='row text-right voffset3')
        paper-button(class='col-sm-offset-8 col-sm-2 padding-left0px padding-right0px',label='Close',affirmative)
        paper-button(class='col-sm-2 padding-left0px padding-right0px text-left',label='Save',affirmative,autofocus)
