extends layout
block content
    form(id='historyForm')
        div#navBarDiv
            nav(class='navbar-default',role='navigation',style="background-color: #ffffff")
                div.container-fluid
                    div.navbar-header
                        div.row
                            div(class='col-xs-4 col-sm-4 col-lg-3 logo-area voffset2')
                                div(class='col-xs-5 col-sm-5 link-cursor" ng-click="backToPortal()')
                                    a(href='/')
                                        img(src='/images/execution_logo.jpg',class='img-rounded img-responsive',width='250px')
                                div(class='col-xs-5 col-sm-5 voffset1')
                                    img(src='/images/smoke.jpg',class='img-rounded img-responsive')
                            div(class='col-xs-7 col-sm-7')
                                span(class='header-app-title') Riesling Smoke Test
        div(class='row')
            div(class='col-sm-12')
                paper-tabs(selected='1')
                    paper-tab(id='configTab') Configuration
                    paper-tab(id='historyTab') History
                    paper-tab(id='runningTab') Running
block customjs
    script(type='text/javascript',src='/javascripts/history-page.js')