extends layout

block content
  div#navBarDiv
    nav(class='navbar-default',role='navigation',style="background-color: #ffffff")
      div.container-fluid
        div.navbar-header
          div.row
            div(class='col-xs-4 col-sm-4 col-lg-3 logo-area voffset2')
              div(class='col-xs-5 col-sm-5 link-cursor" ng-click="backToPortal()')
                a(href='/')
                  img(src='/images/execution_logo.jpg',class='img-rounded img-responsive',width='250px')
              div(class='col-xs-5 col-sm-5 voffset1')
                img(src='/images/smoke.jpg',class='img-rounded img-responsive')
            div(class='col-xs-7 col-sm-7')
              span(class='header-app-title') Riesling Smoke Test
  div(class='row clickable-tab-row text-center')
    div(class='col-sm-offset-1 col-sm-2 clickable-tab') History
    div(class='col-sm-2 clickable-tab') Running
  div(class='row body-section')
    div(class='col-sm-12 text-center')
        h4 Run Smoke Test On
        paper-radio-group(selected='always')
          paper-radio-button(name='Canary',label='Canary')
          paper-radio-button(name='Prod',label='Prod')

block customjs
  script(type='text/javascript',src='/javascripts/main-page.js')



     //div(class='col-sm-offset-4 col-sm-1 env-type-canary') Canary
     //div(class='col-sm-offset-1 col-sm-1 env-type-prod') Prod
  //button(onclick='triggerJob()',value='Trigger') Trigger Button

