doctype html
html
    head
        title= title
        script(type='text/javascript',src='/bower_components/platform/platform.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Shadows+Into+Light',type='text/css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto',type='text/css')
        link(rel='import', href='/bower_components/paper-radio-group/paper-radio-group.html')
        link(rel='import', href='/bower_components/font-roboto/roboto.html')
        link(rel='import', href='/bower_components/paper-input/paper-input.html')
        link(rel='import', href='/bower_components/paper-tabs/paper-tabs.html')
        link(rel='import', href='/custom_components/smoke-job-block/smoke-job-block.html')
        link(rel='import', href='/bower_components/core-icon/core-icon.html')
        link(rel='import', href='/bower_components/core-collapse/core-collapse.html')
        link(rel='import', href='/bower_components/core-icon-button/core-icon-button.html')
        link(rel='import', href='/bower_components/core-icons/core-icons.html')
        link(rel='import', href='/bower_components/core-icons/av-icons.html')
        link(rel='import', href='/bower_components/paper-checkbox/paper-checkbox.html')
        link(rel='import', href='/bower_components/paper-dialog/paper-dialog.html')
        link(rel='import', href='/bower_components/paper-dialog/paper-dialog-transition.html')
        link(rel='import', href='/bower_components/paper-button/paper-button.html')
        link(rel='import', href='/bower_components/paper-dropdown-menu/paper-dropdown-menu.html')
        link(rel='import', href='/bower_components/paper-item/paper-item.html')
        link(rel='import', href='/bower_components/core-toolbar/core-toolbar.html')
        link(rel='import', href='/bower_components/core-menu-button/core-menu-button.html')
        link(rel='import', href='/bower_components/core-dropdown/core-dropdown.html')
        link(rel='import', href='/bower_components/core-menu/core-menu.html')
        link(rel='import', href='/bower_components/core-item/core-item.html')
        link(rel='import', href='/bower_components/paper-icon-button/paper-icon-button.html')
        link(rel='import', href='/bower_components/paper-menu-button/paper-menu-button.html')
        link(rel='import', href='/bower_components/paper-dropdown/paper-dropdown.html')
        link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
        link(rel='stylesheet', href='/stylesheets/owl.theme.css')
        link(rel='stylesheet', href='/stylesheets/owl.transitions.css')
    body

        block content
        script(type='text/javascript',src='/socket.io/socket.io.js')
        script(type='text/javascript',src='/javascripts/jquery-1.11.0.js')
        script(type='text/javascript',src='/javascripts/jquery-ui.min.js')
        script(type='text/javascript',src='/javascripts/jquery.noty.packaged.min.js')
        script(type='text/javascript',src='/javascripts/bootstrap.js')
        script(type='text/javascript',src='/javascripts/moment.js')
        script(type='text/javascript',src='/javascripts/notify.min.js')
        script(type='text/javascript',src='/javascripts/utils.js')
        block customjs
