paper-dialog(heading='Sell API Config',transition='paper-dialog-transition-bottom',id='sellApiConfigDialog')
    div(class='row')
        div(class='col-sm-12')
            paper-input(label='Event ID',floatingLabel,value='4341863',id='selleventid')
    div(class='row')
        div(class='col-sm-12')
            paper-input(label='Gateway Pool',floatingLabel,value='srwd10',id='sellgatewaypool')
    div(class='row text-right voffset3')
        paper-button(class='col-sm-offset-8 col-sm-2 padding-left0px padding-right0px',label='Close',affirmative)
        paper-button(class='col-sm-2 padding-left0px padding-right0px text-left',label='Save',affirmative,autofocus)
