.italic-font{
    font-style: italic;
}

.hide {
    display: none;
}

.showAsBlock {
    display: block;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.voffsetBottom5 {
    margin-bottom: 40px;
}

.left0 {
    margin-left: 0px;
}

.left1 {
    margin-left: 1%;
}

.left2 {
    margin-left: 3%;
}

.left3 {
    margin-left: 5%;
}

.left4 {
    margin-left: 10%;
}

.left5 {
    margin-left: 15%;
}

.left6 {
    margin-left: 20%;
}

.left7 {
    margin-left: 30%;
}

.left8 {
    margin-left: 35%;
}

.left9 {
    margin-left: 40%;
}

.left2_5p {
    margin-left: 2.5%;
}

.right0 {
    margin-right: 0px;
}

.right1 {
    margin-right: 1%;
}

.right2 {
    margin-right: 3%;
}

.right3 {
    margin-right: 5%;
}

.right4 {
    margin-right: 10%;
}

.right5 {
    margin-right: 15%;
}

.right6 {
    margin-right: 20%;
}

.right7 {
    margin-right: 30%;
}

.right8 {
    margin-right: 35%;
}

.right9 {
    margin-right: 40%;
}

.bottom1 {
    margin-bottom: 1%;
}
.padding-left-by-pixel5{
    padding-left: 5px;
}

.padding-left0px {
    padding-left: 0px
}

.padding-left0 {
    padding-left: 3px
}

.padding-left1 {
    padding-left: 1%
}

.padding-left2 {
    padding-left: 3%
}

.padding-left3 {
    padding-left: 5%
}

.padding-left4 {
    padding-left: 10%
}

.padding-left5 {
    padding-left: 15%
}

.padding-left6 {
    padding-left: 20%
}

.padding-left7 {
    padding-left: 30%
}

.padding-left8 {
    padding-left: 35%
}

.padding-left9 {
    padding-left: 40%
}

.padding-right0px {
    padding-right: 0px
}

.padding-right1 {
    padding-right: 1%
}

.padding-right2 {
    padding-right: 3%
}

.padding-right3 {
    padding-right: 5%
}

.padding-right4 {
    padding-right: 10%
}

.padding-right5 {
    padding-right: 15%
}

.padding-right6 {
    padding-right: 20%
}

.padding-right7 {
    padding-right: 30%
}

.padding-right8 {
    padding-right: 35%
}

.padding-right9 {
    padding-right: 40%
}

.padding-right-by-pixel5{
    padding-right: 5px;
}

.padding-top{
    padding-top: 1%
}

.padding-top-by-pixel10{
    padding-top: 10px;
}

.bottom0 {
    margin-bottom: 0px
}

.header-app-title {
    font-family: 'Shadows Into Light';
    font-size: 5rem;
}

.content-section {
    text-align: center;
    background-image: linear-gradient(to bottom,#F1F1F1 0,#68A5CE 100%);
}

.clickable-tab-row{
    /*border-top: 1px solid black;*/
    border-bottom: 1px solid black;
    padding: 3px;
}

.clickable-tab {
    cursor: pointer;
    background-color: #F0EDED;
    font-size: 3rem;
    font-style: italic;
    margin-left: 30px;
}

.clickable-tab:hover  {
    background-color: #000000;
    color: #ffffff;
}

.body-section{
    height: 500px;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
}

.env-type-canary {
    font-size: 3rem;
    border: 1px solid black;
    cursor: pointer;
}

.env-type-canary:hover {
    background-color: #000000;
    color: #ffffff;
}


.env-type-prod {
    margin-left: 20px;
    margin-right: 0px;
    font-size: 3rem;
    border: 1px solid black;
    cursor: pointer;
}

.env-type-prod:hover {
    background-color: #000000;
    color: #ffffff;
}

.ecomm-word {
    padding-top: 30px;
}

.ecomm-period {
    padding-top: 40px;
    width: 10px;
    padding-left: 0px;
}

paper-radio-group.blue paper-radio-button::shadow #ink[checked] {
    color: #4285f4;
}

paper-radio-group.blue paper-radio-button::shadow #onRadio {
    background-color: #4285f4;
}

/*paper-radio-button {*/
    /*display: block;*/
/*}*/

paper-tabs, core-toolbar {
    font-size: 2.5rem;
    background-color: #00bcd4;
    color: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

paper-dialog {
    min-width: 800px;
    height: auto;
}

paper-checkbox {
    padding: 20px 0px 0px 0px;
}

paper-button[autofocus] {
    color: #4285f4;
}
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 270px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

#owl-demo .item {
    background: #5FC848;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#owl-demo .clicked {
    background: #00E676;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

#owl-demo .item:hover {
    background: #00E676;
    text-decoration: underline;
}

.customNavigation {
    text-align: center;
}

.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.solid-border {
    border: 1px solid #D7D7D7;
}

#historyDiv {
    padding: 20px;
}

.trigger-btn {
    background-color: #2196F3;
    padding: 10px;
}

.twinkling-element {
    -webkit-animation: twinkling 2s infinite ease-in-out;
}

#history-left-panel .clicked {
    background-color: #0D47A1;
    padding: 10px;
}

.trigger-btn:hover {
    background-color: #0D47A1;
    padding: 10px;
    cursor: pointer;
}

.trigger-string {
    font-size: 2rem;
    color: white;
}

#history-left-panel {
    border-right: 1px solid lightgray;
    padding-right: 10px;
}

.job-div {
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
}

.job-div:hover {
    background-color: #989898;
    cursor: pointer;
}

.job-div.clicked {
    background-color: #989898;
}

.jobsDiv {
    display: inline-block;
}

.color0 {
    background-color: #ffd9d1;
}

.color1 {
    background-color: #ffffbe;
}

.color2 {
    background-color: #acffff;
}

.color3 {
    background-color: #ffc2ff;
}

.color4 {
    background-color: #b9f6ca;
}

.color5 {
    background-color: #ffd18c;
}

.build-field-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.build-field-value {
    font-size: 1.5rem;
    color: darkgray;
    margin-top: 10px;
}

#buildDetailsField {
    margin-top: 30px;
    font-size: 2rem;
    border-bottom: 1px solid #808080;
    font-style: italic;
}

@-webkit-keyframes  twinkling {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

#header-toolbar {
    height: 50px;
    display: block;
    background-color: #4CAF50;
}

body {
    background-color: #E8F5E9;
}

paper-dropdown {
    top: 10px;
}

.details-card {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    margin-top: 40px;
    height: 400px;
    margin-left: 50px;
}